*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    height: 80px;
    margin-bottom: 10px;
    justify-content:space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    
}
header img{
    margin: 0 20px;
}
main{
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #E5E5E5;
    width: 100vw;
   
}

footer{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    top: calc(100% - 80px);
    left: 0;
    right: 0;
    bottom: 0;
}
footer ion-icon:hover{
    cursor: pointer;
}

.rodapé{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 16px;
}
footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}
.icone{
    width: 26px;
    height: 26px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.msg{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100vw;
    min-height: 40px;
    margin: 2px 0;


}
strong{
    font-weight:700 ;
}
span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40px;
    color: #aaaaaa ;
}

.status{
    background-color: #dcdcdc;
    display: flex;
    flex-wrap: wrap;

}
.reservada{
    background-color:#ffdede ;
    display: flex;
    flex-wrap: wrap;

}
.normal{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap; 
}
div{
    width: 3px;
}


